[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "Header-only library providing basic means for working with "
[access "refs/*"]
	owner = group user/Alexandru Onea (alexonea)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Alexandru Onea (alexonea)
	label-Verified = -1..+1 group user/Alexandru Onea (alexonea)
	push = group user/Alexandru Onea (alexonea)
	read = group user/Alexandru Onea (alexonea)
	rebase = group user/Alexandru Onea (alexonea)
	removeReviewer = group user/Alexandru Onea (alexonea)
	submit = group user/Alexandru Onea (alexonea)
[access "refs/heads/*"]
	create = group user/Alexandru Onea (alexonea)
	push = +force group user/Alexandru Onea (alexonea)
	pushMerge = group user/Alexandru Onea (alexonea)
	read = group user/Alexandru Onea (alexonea)
[access "refs/tags/*"]
	push = group user/Alexandru Onea (alexonea)
	push = +force group user/Alexandru Onea (alexonea)
